/* CONTAINERS */
.container {
  margin: 16px;
}

.styles_container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

/* BLOCKS */
.main_block {
  display: grid;
  grid-template-columns: 80% auto;
}

.control_group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 24px 24px 0;
}

.style_group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px;
}

.button_group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.button_styles_group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.button_fonts_group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* HEADINGS */
.heading {
  font-size: 36px;
  color: #ff7e00;
}

.subtitle {
  font-size: 18px;
  color: #ff7e00;
}

/* BUTTONS */
.non_active {
  background: #dcd9e0;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 14px;
  margin: none;
  padding: 8px 12px;
  transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
  color: #000000;
  min-height: 40px;
  min-width: 40px;
}

.active {
  background: #ff7e00;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 14px;
  margin: none;
  padding: 8px 12px;
  transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
  color: white;
  min-height: 40px;
  min-width: 40px;
}

.style_btn {
  width: 100%;
  text-align: left;
}

.fonts_btn {
  width: 100%;
}

/* TEXT REDACTOR */
.editor-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 600px;
  padding: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 8px;
  justify-content: flex-start;
  border-right: 1px solid #4a5568;
  color: #3e3e3f;
  align-items: flex-start;
  font-weight: 500;
  font-size: 16px;
  outline: none;
  min-height: 160px;
  line-height: 1.6;
}
